body {
    margin: 0;
    padding: 0;
    background-image: url('./assets/background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    background-attachment: fixed;
    background-image: url(./imagenes/Calm_Night_1hour_Decaying_Winter_soug_loop.gif);
}

.container {
    width: 60%;
    margin: 50px auto;
    border-radius: 10px;
    overflow: hidden;
}

.navbar {
    background-color: #000;
    padding: 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.boton {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    z-index: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.boton:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .boton:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

.boton:hover {
    background-color: lightblue;
}

.content {
    background-color: rgba(255, 255, 255, 0.5);
    overflow: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}

.square {
    width: 100%;
    height: 600px;
    box-sizing: border-box;
    text-align: left;
    display: none;
}

.active {
    display: block;
}

.gif{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font-size: 15px;
    cursor: pointer;
    width: 28px;
    height: 28px;
}


.Kira{
    width: 22rem;
    height: 22rem;
}

.completa{
    width: 69rem;
    height: 40rem;
}

.musica{
    position: absolute; 
    right: 1.5rem;
    max-width: 9.25rem;
    padding: 5px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


  
  .musica:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .musica:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

.Saludo{
    margin-left: 0.2rem;
    width: 40px;
    height: 40px;
}

.Noob{
    margin-left: 0.2rem;
    width: 40px;
    height: 40px; 
}

.V1{
    margin-left: 0.2rem;
    width: 40px;
    height: 40px;  
}

.Loro{
    margin-left: 0.2rem;
    width: 40px;
    height: 40px;
}

.Sebastian{
    margin-left: 0.2rem;
    width: 40px;
    height: 40px;
}

.Aldeano{
    margin-left: 0.2rem;
    width: 40px;
    height: 40px;
}

.mesopotamia{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    font-size: 15px;
    cursor: pointer;
    width: 28px;
    height: 28px;
}

.v1{
    position: absolute;
    top: 50%;
    right: 59px;
    transform: translateY(-50%);
    font-size: 15px;
    cursor: pointer;
    width: 28px;
    height: 28px;
}

.navbar2 {
    display: none;
}

@media screen and (min-width: 900px ) {
    
}


@media only screen and (max-width: 768px) {
    .navbar2 {
        background-color: #000;
        padding: 2px 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: relative;
    }
    .navbar2 a {
        color: #fff;
        text-decoration: none;
        margin: 0 5px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        font-size: 16px;
        padding: 5px;
        border: none;
        outline: none;
        color: rgb(255, 255, 255);
        background: #111;
        cursor: pointer;
        z-index: 0;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .navbar2::before{
        content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    }

    .navbar2::after{
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #222;
        left: 0;
        top: 0;
        border-radius: 10px;
    }

    .navbar2 a:hover {
        background-color: lightblue;
    }
    .navbar {
        display: none;
    }
    .navbar2 {
        display: block;
    }
    .navbar2.icons-only a i {
        font-size: 14px;
        color: white;
        padding: 10px;
    }
}